service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow get: if request.auth.uid != null ||
                    request.auth.token.admin == true;
      allow list: if request.auth.uid != null ||
                     request.auth.token.admin == true;

      allow create: if request.auth.uid != null &&
                       (request.auth.uid == userId ||
                       request.auth.token.admin == true);

      allow update: if request.auth.uid != null &&
                       (request.auth.uid == userId ||
                       request.auth.token.admin == true);

      allow delete: if request.auth.uid != null &&
                       (request.auth.uid == userId ||
                       request.auth.token.admin == true);
    }
  }
}
