service cloud.firestore {
  match /databases/{database}/documents {
  	function owner(userId) {
    	return request.auth.uid == userId;
    }

  	function admin() {
    	return 'admin' in request.auth.token.roles;
    }

    function authorized(userId) {
    	return owner() || admin();
    }

    match /users/{userId} {
      allow get: if request.auth.uid != null;
      allow list: if request.auth.uid != null;

      allow create: if request.auth.uid != null && authorized(userId);

      allow update: if request.auth.uid != null && authorized(userId);

      allow delete: if request.auth.uid != null && authorized(userId);
    }
  }
}
