service firebase.storage {
  match /b/{bucket}/o {
    match /images {
      match /avatars/{userId} {
        allow get: if request.auth != null;

        allow create: if request.auth != null &&
                         (request.auth.uid == userId &&
                         request.resource.contentType.matches('image/.*') &&
                         request.resource.size <= 20 * 1024 * 1024 &&
                         (resource == null ||
                         request.resource.md5Hash != resource.md5Hash)) ||
                         request.auth.token.admin == true;

        allow delete: if request.auth != null &&
                         (request.auth.uid == userId) ||
                         request.auth.token.admin == true;
      }
    }
  }
}
